<div class="container">

  <div class="page-header">
    <h1>Tweets for: <small><%= params[:trend_name] %></small></h1>
  </div>

  <table class="table table-condensed">

    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Information</th>
    </tr>

    <% @list_tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.name %></td>
        <td><%= tweet.created_at %></td>
        <td><%= tweet.text %></td>
        <td><%= link_to 'View user biography',
                        bio_path(tweet_owner: tweet.name, trend_name: params[:trend_name]) ,
                        class: 'btn-link' %></td>
      </tr>

    <% end %>

    <td><%= link_to 'back', home_path, class: 'btn-link' %></td>

  </table>

</div>