<div class="container">

  <h1>Tweets topics for <%= params[:trend_name] %></h1>

  <table class="table table-condensed">

    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Text</th>
    </tr>

    <% @list_tweets.each do |tweet| %>
        <tr>
          <td><%= tweet.name %></td>
          <td><%= tweet.created_at %></td>
          <td><%= tweet.text %></td>
          <td><%= link_to 'User biography',
                          bio_path(tweet_owner: tweet.name, trend_name: params[:trend_name]) %></td>
        </tr>

    <% end %>

    <td><%= link_to 'back', home_path %></td>

  </table>

</div>